.title {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #ccc;
}

form {
    display: flex;
}

form input {
    height: 15px;
    width: 40px;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

form h4 {
    justify-content: center;
    align-items: center;
    margin: auto;
}

form button {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #ccc;
    color: #000;
    font-weight: bold;
}

.imc {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: #000;
    border-radius: 10px;
}